body{
	padding: 0;
	margin: 0;
	

}
.bac img{
	width: 100%;
	height: 300px;
}
#logo{
	width: 150px;
	height: 130px;
	
	border-radius: 10px;
	background-color: whitesmoke;
	position: absolute;
	margin-top: 5px;
	margin-left: 30px;
	margin-top: -300px;
	z-index: 1;
	
}
.lg{
	margin-left: 200px;
}
.menu{
	width: 70%;
	margin-top: -300px;
	position: absolute;
	display: flex;
	color: whitesmoke;
	
	padding-left: 30% ;
	background-color: rgb(0, 0, 0, 0.5);
	font-size: 18px;
	font-family: Roboto Condensed;
	
	
}
.menu a{
	text-decoration: none;
	color: whitesmoke;

}
.menu ul{
	display: inline-flex;
	list-style: none;
	
	
}
.menu ul li{
	padding: 15px;
	margin: 30px;
	margin-left: 50px;
}


.active, .menu ul li:hover{

	background: dodgerblue;
	border-radius: 3px;
	
}
.sub-menu{
	display: none;
}
.menu ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: rgb(0, 0, 0, 0.5);
	margin-top: 15px;
	margin-left: -25px;

}
.menu ul li:hover .sub-menu ul{
	display: block;
	margin-left: 10px;
}
.menu ul li:hover .sub-menu ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 3px;
	text-align: left;
}
.menu ul li:hover .sub-menu ul li a:hover{
	color: dodgerblue;
}
.tit{
	font-size: 25px;
	margin-top: 25px;
	margin-left: 35px;
}
.ft img{
	width: 70px;
	height: 100px;
	border: solid black 2px;
}
.ft{
	display: flex;
}
.ft p{
	font-size: 26px;
	margin-left: 30px;
	margin-top: 25px;
	color: whitesmoke;
}
.ft strong{
	color: gold;
	font-size: 30px;
}
.ft h3{
	margin-top: 35px;
}
.footballers ul{
	list-style: none;
	background-color: royalblue;
	
	
}
.footballers ul li{
	border-top:solid gray 2px ;
	


}
#cap{
	font-size: 20px;
	border: solid 2px dodgerblue;
	border-radius: 50%;
	background-color: dodgerblue;
	margin-top: 55px;
	
}