body{
	padding: 0;
	margin: 0;
	background-image: url(photos/p1.png);
	background-attachment: fixed;
	background-size: cover;
}
#logo{
	width: 150px;
	height: 130px;
	
	border-radius: 10px;
	background-color: ghostwhite;
	position: absolute;
	margin-top: 5px;
	margin-left: 30px;
	
}
.lg{
	margin-left: 200px;
}
.menu{
	display: flex;
	color: whitesmoke;
	
	padding-left: 30% ;
	background-color: rgb(0, 0, 0, 0.5);
	font-size: 18px;
	font-family: Roboto Condensed;
	
	
}
.menu a{
	text-decoration: none;
	color: whitesmoke;

}
.menu ul{
	display: inline-flex;
	list-style: none;
	
	
}
.menu ul li{
	padding: 15px;
	margin: 30px;
	margin-left: 50px;
}

.active, .menu ul li:hover{

	background: dodgerblue;
	border-radius: 3px;
	
}
.sub-menu{
	display: none;
}
.menu ul li:hover .sub-menu{
	display: block;
	position: absolute;
	background: rgb(0, 0, 0, 0.5);
	margin-top: 15px;
	margin-left: -25px;

}
.menu ul li:hover .sub-menu ul{
	display: block;
	margin-left: 10px;
}
.menu ul li:hover .sub-menu ul li{
	width: 150px;
	padding: 10px;
	border-bottom: 1px dotted #fff;
	background: transparent;
	border-radius: 3px;
	text-align: left;
}
.menu ul li:hover .sub-menu ul li a:hover{
	color: dodgerblue;
}
.cs{
	margin-left: 35%;
	margin-top: 10%;
}
#p1{
	color: whitesmoke;
	font-size: 55px;
	border: solid black 2px;
	width: 500px;
	text-align: center;
	background: rgb(0, 0, 0, 0.5);
}
#p2{
	color: black;
	font-size: 35px;
	border: solid whitesmoke; 2px;
	width: 450px;
	margin-left: 50px;
	margin-top: -40px;
	
	background: rgba(255, 255, 255, 0.5);
}
#p1:hover, #p2:hover{
	transform: scale(1.1);
}